@import url(https://www.google.com/fonts#UsePlace:use/Collection:Josefin+Sans:400,400italic);

@font-face {
    font-family: 'AustinSemiboldItalic';
    src: url('../fonts/AustinSemiboldItalic.eot');
    src: url('../fonts/AustinSemiboldItalic.eot') format('embedded-opentype'),
    url('../fonts/AustinSemiboldItalic.woff2') format('woff2'),
    url('../fonts/AustinSemiboldItalic.woff') format('woff'),
    url('../fonts/AustinSemiboldItalic.ttf') format('truetype');
}

.full-width{float: left;width:100%;}
.nv-fixed{position:fixed;float:left;width:100%;background:white;border:none;margin-bottom:0px;}
.full-width{float:left;width:100%;}
.navbar-default .navbar-nav > li > a{font-size:15px;color:#428bca;}

.navbar-default .navbar-brand{padding:0px;}
@media (max-width:480px){
    .navbar-brand img{margin-bottom: 10px;width:220px;}
    .jumbotron{padding-left: 0px;}
}
.bg-img{
    /*background:rgba(0, 0, 0, 0) url("../img/section2_section3.png") no-repeat scroll center top / 100% 111%;*/
    /*background: rgba(0, 0, 0, 0) url("../img/section2_section3.png") no-repeat fixed center top / 100% 150%;*/
    min-height: 1400px;
}
.bg-img2{
    background:url("../img/wood.jpg");background-size:cover;
}
.bg-banner{background:rgba(0, 0, 0, 0) url("../img/bistro-bowl.jpg") repeat scroll 0 0 / cover ;min-height:540px;background-attachment:fixed;}
.bg-img3{
    background:url("../img/ped.jpg");background-size:cover;background-attachment: fixed;
}
.plate{
    border-radius:10px;padding:30px 10px;border:4px solid white;float:left;width:100%;
}
.button-pad{float:left;width:100%;}
.div-img{
    float:left;width:100%;margin-top:80px;
}
.bg-grdnt{background:linear-gradient(white,whitesmoke);box-shadow:2px 1px 4px gray;}
.pt-border{
    font-size:65px;color:dimgray;
}
.center-btn{
    margin-top:20px;font-size:48px !important;color:#fff;
}
.inner-plate{
    border-radius:10px;padding:30px 10px;border:2px solid gray;background:white;float:left;width:100%;
}
.bg-red{background:url("../img/tab-bg.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);padding-bottom:80px;padding-top:25px;}
/*.bg-overlay{background: rgba(255,255,255,0.65);}*/
.bg-overlay{
    background: rgba(0, 0, 0, 0) url("../img/cloud_bg(1).jpg") no-repeat fixed center top / 100% 150%;
}
#bg-how{
    background: rgba(0, 0, 0, 0) url("../img/map_bg.jpg") no-repeat fixed center top / 100% 150%;
}
#waste{
    background: rgba(0, 0, 0, 0) url("../img/image3(1).jpg") no-repeat fixed center top / cover;min-height:550px;
}
.fa-srch{
    background:radial-gradient(red,brown);
    border: 2px solid lightgray;
    border-radius: 50%;
    color: white;
    font-size: 35px !important;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow:0 0 12px black;
    transform:scale(1.2);
}
.fa-cash{
    background: radial-gradient(gold,goldenrod);
    border: 2px solid lightgray;
    border-radius: 50%;
    color: white;
    font-size: 35px !important;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow:0 0 12px black;
    transform:scale(1.2);
}
.f-icon{padding:25px;font-size:35px !important;border-radius:50%;color:#fff;box-shadow:0 0 6px black;border:2px solid #fff;}
.f1{background:radial-gradient(red,brown);}
.f2{background:radial-gradient(gold,goldenrod);}
.f3{background:radial-gradient(#428bca,#006cad);padding:25px 28px;}
.f4{background:radial-gradient(gray,dimgray);}
.clor{color:red;}
.bx-sh{box-shadow:0 0 4px #fff;margin:10px;}
.dimgray{color:#000;font-size: 18px;font-weight:100;}
.mg-btm{margin-bottom:30px;margin-top:30px;}
.clor-red{color:brown;}
.bg-clor{background:url("../img/bistro-bg-fade.jpg");color: #fff;font-weight: lighter;padding-top:25px;padding-bottom:35px;background-size:cover;background-attachment: fixed; }
.btn-fff{background: transparent;border: 3px solid #fff;border-radius:0px;color:#fff;}
.full-width h4{
    font-family:helvetica !important;font-weight:lighter !important;
}
.full-width h1{font-family:helvetica !important;font-weight:lighter !important;font-size:6em;}
/* footer starts here */

.main-foot{
    float:left;
    width:100%;
    background:white;
}
.footer_main
{
    /*background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);*/
    border-bottom:1px solid gray;
}
.social_icon
{
    float: none;
    max-width:400px;
    overflow: :hidden;
    margin:0 auto;
    width: 100%;
    text-align: center;
}
.social_icons ul
{
    float:right;
    padding:5px 0;
    margin:0;
    line-height: 0;
    width:100%;
}
.social_icon i{
    font-size:35px;color:#D82C27;
}
.social_icon i:hover{
    font-size:35px;color:#fff;transition:all 0.5s ease-in-out 0s;transform:scale(1.1);
}
.social_icons li
{
    float: right;
    width: 18%;
}
.social_icons li a
{
    float: right;
    width: 100%;
}
.footer_main
{
    /* background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);*/
    border-bottom:1px solid gray;
}
.footer_links ul
{
    color: #ffffff;
    padding: 13px 0;
    margin:0px;
    float: left;
    width: 100%;
    text-align: center;
}
/* Testimonial css */

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
    padding-top: 50px;
    padding-bottom: 30px;
    color:#fff;

}
blockquote p{
    font-size: 21px !important;font-weight: lighter;font-family:Trebuchet ms;color:#333;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #e84a64;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/* It Ends Here */


.form-group label{
    color:#333;font-size:16px;
}
.boxed-grey{
    background: rgba(255,255,255,0.5);padding: 20px;
}
.mg-auto{
    max-width:400px;margin:0 auto;width:100%;
}
/*.nv-link{margin-top:20px;}*/
.nv-link li{}

.db1, .db2, .db3, .db4, .db5, .db6, .db7, .db8, .db9, .db{
    visibility:hidden;
}

/* WEB FONTS FOR carrus */

@font-face {
    font-family:'AvenirNext-Regular';
    src: url('AvenirNext-Regular_gdi.eot');
    src: url('AvenirNext-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNext-Regular_gdi.woff') format('woff'),
    url('AvenirNext-Regular_gdi.ttf') format('truetype'),
    url('AvenirNext-Regular_gdi.svg#AvenirNext-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),  url('Helvetica.woff') format('woff'), url('Helvetica.ttf')  format('truetype'), url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('Lato-Bold.woff') format('woff'), url('Lato-Bold.ttf')  format('truetype'), url('Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),  url('Helvetica-Bold.woff') format('woff'), url('Helvetica-Bold.ttf')  format('truetype'), url('Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),  url('Lato-Hairline.woff') format('woff'), url('Lato-Hairline.ttf')  format('truetype'), url('Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('Lato-Regular.woff') format('woff'), url('Lato-Regular.ttf')  format('truetype'), url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-light-webfont.woff2') format('woff2'),
    url('lato-light-webfont.woff') format('woff'),
    url('lato-light-webfont.ttf') format('truetype'),
    url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family:'AvenirNext-UltraLight';
    src: url('AvenirNext-UltraLight_gdi.eot');
    src: url('AvenirNext-UltraLight_gdi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNext-UltraLight_gdi.woff') format('woff'),
    url('AvenirNext-UltraLight_gdi.ttf') format('truetype'),
    url('AvenirNext-UltraLight_gdi.svg#AvenirNext-UltraLight') format('svg');
    font-weight: 275;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}
.fa-facebook{color:#006cad !important;}
.fa-tumblr{color:#fff !important;}
.fa-twitter{color:#2cc0d6 !important;}
.fa-instagram{color:#fff !important;}
.hero h1{color:#fff;}
.panel-body{font-size:15px;}

/* changes in header in active state */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    color:#006cad !important;background: transparent ;
}
.panel-title > a{font-family:Trebuchet MS;}
@media(max-width:480px){
    .dev2 img{margin:0px;}
    .dev1{text-align:center}
    .dev2{text-align:center}
    .ih-item{margin-bottom:15px;}
    .hero{width:100%;}
    .hero h1{font-size:1.5em;}
    .db1{width:100%;}
}
.full-width h2{
    font-family:helvetica;
}
.full-width h3{
    font-family:helvetica;
}
.full-width h4{
    font-family:helvetica;font-weight:normal !important;
}
.mg-btm  h4{font-family:trebuchet ms;letter-spacing: 1px;}
.overlay{
    background:rgba(0, 0, 0, 0) url("../img/section1.png") repeat scroll center center / cover ;
}
#how{
    background:white;
}
/*#test{*/
/*background:#084087;*/


.overlayed{float:left;width:100%;background: rgba(255, 180, 125, 0.2) none repeat scroll 0 0;}
.overlayed1{background:url("/img/section14.png");background-size:cover;float:left;width:100%;}
.overlayed-down{float:left;width:100%;background: url("/img/map_delhi.png");}
.how-icons{float:left;width:100%;min-height:400px;margin-top:8%;}
.how-icons h4{color:white;font-family: lato-bold;font-size:19px;font-weight:bold !important;}
.how-icons h6{color:gray;font-size:17px !important;font-family: latolight !important; }
.con h4{color:gray;}
.con h5{color:gray;}
#contact-us div{margin-bottom:15px;}
#contact-us input{background:rgba(255,255,255,0.95);border-radius:0px;border-color:transparent;color:lightgray;height:60px; color:#333;}
#contact-us textarea{background:rgba(255,255,255,0.95);border-radius:0px;border-color:transparent;color:lightgray;min-height:200px;color:#333;}
.hero img{width:170px;}
.mag-auto{margin:0 auto;max-width:400px;width:100%; }
.tt img{width:180px;}
.jig{float:left;width:100%;background: rgba(0, 0, 0, 0.19) none repeat scroll 0 0;/*padding-top:100px;*/}
.contactUs{
    background: transparent url('../img/map_bg_blue.png') repeat scroll 0px 0px ;
    background-size:cover;

    width: 100%;
}
#photo-div{background: #084087 none repeat scroll 0 0;}



#bg-car-image{
    background:transparent;background-size:cover;min-height:700px;background-position:center;
}
/* css for section4*/
/*.dild{background-attachment:fixed;width:1640px !important;}*/
@media (max-width:480px){
    .dild{width:100% !important;}
}
.build{overflow:hidden;}
.ab{color:white;text-align: center;margin-top:90px;}
.tariff-thumbnail{overflow:hidden;padding: 0px;}
.header-container{width:91%;}
@media(max-width:1366px){
    /*.tariff-thumbnail{width:252px;}*/
    .header-container{width:1170px;}
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:1366px) {*/
/*.tariff-thumbnail{width:222px;}*/
/*}*/
/*@media screen and (-webkit-min-device-pixel-ratio:0){*/
/*.tariff-thumbnail{width:262px;}*/
/*}*/
.w50{float:left;width:50%;}
.bd-top{border-top:1px solid lightgray;margin-top:20px;}
h1, h2, h3, h4,{font-family:helvetica !important;}
h5, h6{font-family:helvetica ;}
.con h4{color:lightgray;}
.mag-auto h4{color:lightgray;}
.mag-auto hr{border-color:lightgray;}

.tab_contents{background:rgba(0,0,0,0.4);border-radius:5px;padding:10px;width:70%;float:right;}
.tab_contents table{float:right;width:70%;font-size:15px;text-align: right;}
.cat3 h4{color:lightgray;font-size:20px;}
.tb-td1{width:100%;float: left;text-align: left;color:#428bca;font-size:19px;padding-left:10px;}
.td-td1{}
.tb-td2{text-align: right;font-size:19px;color:lightgray;}
.change{float:right !important;width:95% !important;margin-top:20px;border-top:1px solid gray;}
.tab-head{   float: right;
    text-align: center;
    width: 100%;
}
.tab-head h1{font-family:helvetica !important;}
.hr-div{margin:0 auto;max-width: 200px;width: 100%;}
.tab-head h2{font-size:23px;}
.w50 h2{font-size:20px;font-family: helvetica;}
.mag-auto h2{font-family:helvetica;font-weight:bold !important;}
.jig h1{font-family:helvetica;}
.ct1{padding:6px 12px;background:rgba(0,0,0,0.85);border-radius:6px;color:#fff;font-family:avenirnext-regular;font-size: 17px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#428bca;}
.full-width h4{font-size:21px;}

.input-holder{position:relative;border-radius:10px;
    float: left;width:100%;}
.form-bg{background:transparent;padding-right: 20px;}
.fa-icon{
    position: absolute;
    right: 10px;
    top: 6px;
    color:lightgray;font-size: 18px !important;
}
.bg-truck{
    float: left;width:100%;background:rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat fixed center center / cover ;min-height:620px;
}
.jumbotron{background:transparent;margin-top:100px;padding-bottom: 0px;margin-bottom: 0px;line-height: 1.143;}
.jumbotron{color:#4DADFB !important;font-weight:bold !important;}
.mob-bg{
    background:url("../img/lotus-kamal.jpg");background-size:cover;background-attachment: fixed;padding-top: 50px;padding-bottom: 80px;
}
.h-bars{border-color:dimgray;width:100px;}
.truck-transition{background:url("../img/sec5_bg.jpg");background-attachment: fixed;background-size:100% 100%;min-height: 600px;}
.truck-transition h2{margin-top:15%;}
/*.d-truck{position: relative;}*/
/*.d-head{position: absolute;top:0px;}*/
.copyright{margin:0 auto;max-width:200px;width:100%;text-align:center;}

.t-filter{min-height: 70px;position: relative;}
.t-filter span{
    float: left;width:14.6%;text-align: center;margin-top:20px;border:1px solid lightgray;margin-left:30px;
}
/*  media queries of get quotes section starts here */

@media(max-width:900px){
    .t-filter span{
        float: left;width:100%;text-align: center;margin-top:20px;border:1px solid lightgray;margin-left:0px;
    }
}
@media(min-width:769px) and (max-width:1440px){
    .t-filter span{
        float: left;width:15.5%;text-align: center;margin-top:20px;border:1px solid lightgray;margin-left:10px;
    }
}

/* and it ends here */
.t-icon{position: absolute;right: 12px;border:0px solid transparent !important;top:0px;margin: 0px !important;}
/*{*/
/*background: #4DADFB none repeat scroll 0 0;*/
/*border-right: 0 none;*/
/*color: white;*/
/*margin-top: 0px !important;*/
/*padding-bottom: 20px;*/
/*padding-top: 16px;*/
/*position: relative;*/
/*}*/
.locate-point{
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid white;
}
.pt-delhi{
    display:none;
}
.pt-kolkata{
    display:none;
}
.b-color h3{
    color:#fff;
}
.b-color h6{
    color:#fff;
}
.jumbo-text{
    font-size: 4em;
}
.map-point{
    padding-top: 320px;
}
.marg-auto{
    position: relative; width: 100%; margin: 0px auto; transform: translate(97%, -27%); max-width: 200px;
}
.mg1{
    position: absolute; top: -50px;right:200px;
}
.mg2{
    position: absolute; top: 25px; right: 75px;
}
.pt-delhi{
    position: absolute; background: white none repeat scroll 0% 0%; left: 23px; width: 120px; height: 60px; top: -70px;
    font-family:Lato-Regular;
}
.pt-kolkata{
    position: absolute; background: white none repeat scroll 0% 0%; width: 120px; height: 60px; top: -70px; left: 23px;
    font-family:Lato-Regular;
}
.how-icons h6{font-size:15px;font-family: helvetica !important;}
.bg-coming-soon{
    background:url("../img/sec7_bg.jpg");background-size:cover;min-height: 350px;background-repeat:no-repeat;background-attachment: fixed;
}
.con{display:block;}

@media (min-width:1201px) and (max-width:1210px){
    /*.marg-auto {*/
    /*margin: 0 auto;*/
    /*max-width: 200px;*/
    /*position: relative;*/
    /*transform: translate(85%, -27%);*/
    /*width: 100%;*/
    /*}*/
}

@media (min-width:1211px) and (max-width:1240px){
    /*.marg-auto {*/
    /*margin: 0 auto;*/
    /*max-width: 200px;*/
    /*position: relative;*/
    /*transform: translate(90%, -27%);*/
    /*width: 100%;*/
    /*}*/
}

/*@media (min-width:1370px) and (max-width:1400px){*/
/*.marg-auto {*/
/*margin: 0 auto;*/
/*max-width: 240px;*/
/*position: relative;*/
/*transform: translate(90%, -27%);*/
/*width: 100%;*/
/*}*/
/*}*/
@media(min-width:1440px) and (max-width:1600px){
    /*.marg-auto {*/
    /*margin: 0 auto;*/
    /*max-width: 200px;*/
    /*position: relative;*/
    /*transform: translate(90%, -27%);*/
    /*width: 100%;*/
    /*}*/
    /*.map-point{*/
    /*padding-top: 225px;*/
    /*}*/
}
@media(min-width:1660px) and (max-width:1920px){
    /*.map-point{*/
    /*padding-top: 325px;*/
    /*}*/
    /*.marg-auto {*/
    /*margin: 0 auto;*/
    /*max-width: 200px;*/
    /*position: relative;*/
    /*transform: translate(135%, -27%);*/
    /*width: 100%;*/
    /*}*/
    /*.mg1 {*/
    /*left: -23px;*/
    /*position: absolute;*/
    /*top: -30px;*/
    /*}*/
}
@media (max-width:768px){
    .truck-transition{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/Truck_1.jpg");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        min-height: 300px;
        width: 100%;
    }
    .truck-transition h2{
        width:100% !important;
        font-size:3.5em !important;
    }

    #waste{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/Untitled-1.jpg");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        min-height: 300px;
        width: 100%;
    }
    .gt-quotes{
        bottom: 0px !important;
    }
    .bg-truck{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/bg-small.png");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 100%;
        min-height: 300px;
    }
    #bg-how{
        background:rgba(0, 0, 0, 0) url("../img/map_bg.jpg") no-repeat center top / cover;
        background-attachment: inherit;
    }

    .bg-overlay{
        /*background-attachment: local;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/sky.jpg");
        background-origin: padding-box;
        background-position: center top;
        background-repeat: no-repeat;
        background-size:cover;*/
        background: rgba(0, 0, 0, 0) url("../img/sky.jpg") no-repeat local center top / cover ;
    }
    .bg-coming-soon{
        background-attachment: inherit;background-size: 100% 100%;min-height:230px !important;
    }
    .t-filter {
        min-height: 370px;
        position: relative;
    }
}
@media only screen and (device-width: 768px) and (orientation: landscape) {
    /* rules for iPad in landscape orientation */
    .truck-transition{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/section4_bg1.jpg");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        min-height: 600px;
        width: 100%;
    }
    #waste{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/image31.jpg");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        min-height: 600px;
        width: 100%;
    }
    .gt-quotes{
        bottom: 0px !important;
    }
    .bg-truck{
        background-attachment: initial;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/bg-small");
        background-origin: padding-box;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 100%;
        min-height: 600px;
    }
    #bg-how{
        background:rgba(0, 0, 0, 0) url("../img/map_bg.jpg") no-repeat center top / cover;
        background-attachment: inherit;
    }
    .bg-overlay{
        background-attachment: local;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/section2_bg1.jpg");
        background-origin: padding-box;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .t-filter {
        min-height: 370px;
        position: relative;
    }
}
@media (max-width:480px){
    .t-filter span{width:100%;}
    .t-icon {
        border: 0 solid transparent !important;
        margin: 0 !important;
        position: absolute;
        right: -85px !important;
        top: 0;
    }
    .jumbo-text{font-size: 2.3em !important;}
   /* .map-point{display:none;}*/
}
.btn-p{
    background-color: #2766C2;
}
/*.overlayr{

    background: rgba(255,255,255,0.4);
}*/


#contact-us input::-webkit-input-placeholder {
    color: #006cad;
}

#contact-us input:-moz-placeholder { /* Firefox 18- */
    color: #006cad;
}

#contact-us input::-moz-placeholder {  /* Firefox 19+ */
    color: #006cad;
}

#contact-us textarea:-ms-input-placeholder {
    color: #006cad;
}

#contact-us textarea::-webkit-input-placeholder {
    color: #006cad;
}

#contact-us textarea:-moz-placeholder { /* Firefox 18- */
    color: #006cad;
}

#contact-us textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #006cad;
}

#contact-us textarea:-ms-input-placeholder {
    color: #006cad;
}
@media (max-width:1191px){
    .marg-auto{
        display:none;

    }

}


.filters {
    position:relative;
}

.filters::after {
    background: rgba(0, 0, 0, 0) url("../img/location_icon.png") no-repeat scroll 0 0;
    border: 0 solid #ff0000;
    content: "";
    height: 23px;
    left: 18px;
    position: absolute;
    top: 4px;
    width: 21px;
}
.gt-qt{
    margin-top: 15px !important;
    background: #4DADFB;
}
.filters-drop::after {
    background: rgba(0, 0, 0, 0) url("../img/location_icon.png") no-repeat scroll 0 0;
}

.filters-date:after {
    background: rgba(0, 0, 0, 0) url("../img/calendar_icon.png") no-repeat scroll 0 0;
}

.filters-weight:after {
    background: rgba(0, 0, 0, 0) url("../img/weight_icon.png") no-repeat scroll 0 0;
}


.filters-mob:after {
    background: rgba(0, 0, 0, 0) url("../img/mobile_icon.png") no-repeat scroll 0 0;
}
.t-filter input
@media(min-width:1400px) and (max-width:1460px){
    .filters::after {
        /*background: rgba(0, 0, 0, 0) url("../img/location_icon.png") no-repeat scroll 0 0;*/
        border: 0 solid #ff0000;
        content: "";
        height: 23px;
        left: 20px;
        position: absolute;
        top: 4px;
        width: 21px;
    }
}
@media(min-width:770px)and(max-width:1400px){
    .filters::after {
        /*background: rgba(0, 0, 0, 0) url("../img/location_icon.png") no-repeat scroll 0 0;*/
        border: 0 solid #ff0000;
        content: "";
        height: 23px;
        left: 10px !important;
        position: absolute;
        top: 4px;
        width: 16px;
    }

    .filters input::-webkit-input-placeholder {
        font-size: 12px;
    }

    .filters input:-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
    }

    .filters input::-moz-placeholder {  /* Firefox 19+ */
        font-size: 12px;
    }

}

/*============================== login Model css ==================================*/
body{padding:0 !important;}
.modal .modal-dialog { margin-top: 150px; width: 534px;}
.modal .modal-dialog .modal-content .modal-header { padding: 0px;}
.modal .modal-dialog .modal-content .modal-title { text-align: center; color:#f89715; background-color: #f1f1f1; padding: 17px 0;}
.modal .modal-dialog .modal-content .modal-body { padding: 30px;}
.modal .modal-dialog .modal-content .modal-body input,
.modal .modal-dialog .modal-content .modal-body select  {
    background-color:#f1f1f1;
    border: none; color:#b1b1b1;
    padding: 10px; width: 100%;
    //
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.modal .modal-dialog .modal-content .modal-body input:active,
.modal .modal-dialog .modal-content .modal-body input:focus,
.modal .modal-dialog .modal-content .modal-body select:active,
.modal .modal-dialog .modal-content .modal-body select:focus,
.modal .modal-dialog .modal-content .modal-body .open button:active,
.modal .modal-dialog .modal-content .modal-body .open button:focus

{
    /*border:1px solid #f89715 !important;*/
    border:1px solid rgba(248,151,21,1) !important;
    transition: border-color 1s ease;
    box-shadow: 0 0 5px rgba(248, 151, 21, 1);
}

.modal .modal-dialog .modal-content .modal-body .open button:focus{outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;}



.modal .modal-dialog .modal-content .modal-body .userName {  margin-bottom: 20px;}
.modal .modal-dialog .modal-content .modal-body .userPassword{ }
.modal .modal-dialog .modal-content .modal-body .forgot_password { text-align: center; margin-top: 15px; display: block;}
.modal .modal-dialog .modal-content .modal-body .login_button, .modal .modal-dialog .modal-content .modal-body .next_otp ,.modal .modal-dialog .modal-content .modal-body .forgotPasswordSubmit,.modal .modal-dialog .modal-content .modal-body .signUpSubmit{ outline:none; background-color:  #4c93fd; color:#fff; border: none; border-radius: 50px;width: 100%; margin-top: 20px; padding: 8px;}
.modal .modal-dialog .modal-content .modal-body .login_button:hover, .modal .modal-dialog .modal-content .modal-body .next_otp:hover,.modal .modal-dialog .modal-content .modal-body .forgotPasswordSubmit:hover ,.modal .modal-dialog .modal-content .modal-body .signUpSubmit:hover {background-color: #f89715; transition: background-color 0.5s ease; -webkit-transition: background-color 0.5s ease;
-moz-transition: background-color 0.5s ease; -o-transition: background-color 0.5s ease; -ms-transition: background-color 0.5s ease; -khtml-transition: background-color 0.5s ease;}




/*============================== Register Model css ==================================*/


.modal .modal-dialog .modal-content .modal-header .close{opacity: 0.7}
.modal .modal-dialog .modal-content .modal-body .open ul.dropdown-menu li{
    height:30px;
    background-color: #f1f1f1;
    color:#b1b1b1;
}
.modal .modal-dialog .modal-content .modal-body .open ul.dropdown-menu:before,.modal .modal-dialog .modal-content .modal-body .open ul.dropdown-menu:after{}
.radio_section {float: left; width: 100%;text-align: center; margin: 0 0 25px 0px;}
.modal .modal-dialog .modal-content .modal-body input.half_width ,.modal .modal-dialog .modal-content .modal-body select.half_width{ width: 47.5%;float: left; margin: 0 23px 15px 0;}
.modal .modal-dialog .modal-content .modal-body input.full_width{ background-color:#f1f1f1; border: none; padding: 10px; width: 100%; margin:0 0 15px; }
.modal .modal-header .close { margin: 12px 18px 0 0px; outline:none;}
.modal-open{overflow: scroll !important; }
.modal .modal-dialog .modal-content .modal-body input.no-margin, .modal .modal-dialog .modal-content .modal-body select.no-margin  { margin-right: 0px;-webkit-border-radius: 0 !important;}
.modal .modal-dialog .modal-content .modal-body select.no-margin option{-webkit-border-radius: 0 !important;-webkit-appearance: none;-moz-appearance:    none;
    appearance:         none;}
.radio-inline { text-transform: uppercase !important;}
.radio-inline input, .radio-inline span {
    position: relative !important;
    display: block;
    width: auto !important;
    float: left;
}
div.half_width { width: 47.5%;float: left; margin: 0 23px 0 0;}
div.half_width.no-margin {  margin-right: 0px; }
.modal .modal-dialog .modal-content .modal-body input {
    height: 45px;
    padding: 0 50px 0 15px;
}

.radio_section input[type="radio"] {
    -webkit-appearance: none;

}


.radio_section input[type="radio"]:checked {
    background:#f89715 !important;

}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    border-radius: 0 !important;
    margin-left: -4px;
    margin-top: 0;
    height: 45px;
    width: 45px;
    background: url("../img/upload_button.png") no-repeat !important;
    background-position: center;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
}
.w-80 { width: 80% !important; display: inline-block;}
input.upload {  padding: 5px !important;}
.fileUpload.files {
    position: absolute;
    right: 0;
}

/*input.outler:before {*/
    /*content: '';*/
    /*display: block;*/
    /*border: 1px solid #dfdfdf;*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*border-radius: 50px;*/
    /*vertical-align: middle;*/
    /*margin-left: -3px;*/
    /*margin-top: -3px;*/
/*}*/
.modal .modal-dialog .modal-content .modal-body input[type="radio"] {
    display: block;
    border: 1px solid #dfdfdf !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 50px !important;
    vertical-align: middle;
    background: #fff !important;
    margin-left: 0px !important;
    margin-top: 2px !important;
    float: left;
    padding: 0;
    margin-right: 5px;
    position: relative !important;
}
.radio_section input[type="radio"]:checked:after {
    height: 10px !important;
    width: 10px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    content: '';
    background: #f89715;
    position: absolute;
    left: 2px;
    top: 2px;
}

.modal#SignUp .modal-dialog { margin-top:100px !important;}
.modal#otp_modal .modal-dialog { width: 400px; margin-top:20%;}
.navv .navbar-nav > li > .dropdown-menu {
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #333;
    padding: 8px 14px;
}
.navv.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 12px 0;
    margin: 0;
}
.nv-link .dropdown-menu li {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 15px;
}
.nv-link .dropdown-menu li:last-child
{
    border: none;

}
.navbar-brand.logo-img {
    display: block;
    float: none;
    height: auto !important;

}
/*ul.dropdown-menu:before {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
/*content:'';*/
    /*border-bottom: 5px solid black;*/
/*}*/

ul.dropdown-menu{

    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 1px;
}
ul.dropdown-menu:after, ul.dropdown-menu:before {
    bottom: 100%;
    /*left: 93%;*/
    right:2%;
    border: solid rgba(194, 225, 245, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

ul.dropdown-menu:after {
    border-color: rgba(26, 73, 103, 0);
    border-bottom-color: #f1f1f1;
    border-width: 0px;
    margin-left: -30px;
}
ul.dropdown-menu:before {
    border-color: rgba(26, 73, 103, 0);
    border-bottom-color: #ccc;
    border-width: 0px;
    margin-left: -32px;
}

/* ================================  Customer Global Menu =====================================  */
.dropdown i.fa {
    margin: 0px 8px;
    font-size: 26px;
    vertical-align: middle;
}
.dropdown span.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    margin: 0 0 0 45px;
}
.nav_top.navv li.dropdown {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0px 25px;
}
.nav_top.navv li.dropdown a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav_top.navv .navbar-nav > li {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.notification {
    margin: 0 0 0 10px;
}
.navbar-default.nav_all .navbar-nav > li > a {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-default.nav_all .navbar-nav > li > a:hover,.navbar-default.nav_all .navbar-nav > li.active > a
{
    border-bottom: 4px solid #4c93fd;
    background: none;

}

/** =========== request form =============== ***/
.requestTruck {
    background-color: #fff;
    box-shadow: 0px 0px 0px 8px rgba(241, 241, 241, 0.3);
    padding: 0 24px;
    padding-top: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.requestTruck h2 {
    text-align: center;
    color: #4c93fd;
    padding: 0;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}
.requestTruck .row_ist input {
    width: 40%;
    margin: 0 12px 0 0;
}
.requestTruck .row_ist select {
    width: 34%;
    height: 45px;
}
.requestTruck  input,
.requestTruck select,.requestTruck textarea  {
    background-color: #f1f1f1;
    border: none;
    color: #b1b1b1;
    padding: 0px 15px;
    width: 100%;
    margin: 0px 0 15px 0;
    border: none !important;
    height: 45px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.requestTruck  input:active,
.requestTruck  input:focus,
.requestTruck  select:active,
.requestTruck  select:focus {
    /*border:1px solid #f89715 !important;*/
    border:1px solid rgba(248,151,21,1) !important;
    transition: border-color 1s ease;
    box-shadow: 0 0 5px rgba(248, 151, 21, 1);
}

.requestTruck label {
    text-transform: uppercase;
    color: #A7A6A6;
}
.requestTruck .row_ist input#date {
    width: 100px;
}
.requestTruck .close { margin: 12px 18px 0 0px; outline:none;}
.requestTruck .row_second .row_input
{
    width: 48.5%;
    margin: 0 12px 0 0;
    float: left;
}
.requestTruck .row_second .row_input.n-mrgn
{
    margin:0;
}
.requestTruck .row_second input,.requestTruck .row_second textarea {
    width: 100%;

}
.requestTruck .row_second select {
    width: 100%;
    height: 45px;
}

.requestTruck #req_btn {
    outline: none;
    background-color: #4c93fd;
    color: #fff;
    border: none;
    border-radius: 50px;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    margin-bottom: 20px;
}

.star_rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}
.star_rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: #dfdfdf;
}
.star_rating > span:hover:before,
.star_rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}
.star_rating:hover > span {
 color:#f89715
}
.ongoing_view tr th {
    background-color: #4c93fd;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 12px !important;
}

.ongoing_view table
{
    border: 1px solid #E3E3DE;

}
.ongoing_view table tr td{
    padding: 15px 12px !important;

}
.ongoing_view tr td div.row_define {
    border-right: 2px solid #e3e3e3;
    min-height: 90px;
}
.ongoing_view tr td:last-child div.row_define {
    border: none;
}
.dirver_pic,.dirver_name
{
    text-align: center;

}
.dirver_pic img {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    display: inline-block;
    margin: 7px 0;
}
.view_details a {
    background-color: #f89715;
    color: #fff;
    padding: 9px 20px;
    border-radius: 25px;
    font-weight: normal;
    font-size: 13px;
}
.dilivery_shdule
{
    /*text-align: center;*/
}
.time_est, .time_estm {
    display: inline-block;
    text-align: center;
    margin: 0px 15px;
    vertical-align: top;
}
.border { display: inline-block;}
span.time_est:after {
    content: '';
    display: block;
    border-top: 1px dashed #e3e3e3;
    position: relative;
    /* bottom: 0; */
    bottom: 54px;
    left: 58px;
}
.dilivery_shdule i
{
    border: 1px solid #e3e3e3;
    border-radius: 50px;
    padding: 6px 7px;
    color: #e3e3e3;
}
.tab-menu,.banner-search { display: inline-block;}
.tab-menu ul li { list-style: none;  background-color:rgba(74,147,253,.5); display: inline-block;padding:  9px 0px; border-radius: 20px; }
.tab-menu ul li a { padding: 10px 40px;}
a:hover{ text-decoration: none !important;}
.active {
    background-color: #fff;
    border-radius: 31px;
    padding: 11px 30px;

}