<div class="container" >
    <div class="row" style="margin-top: 8%;">
        <div class="table-responsive ongoing_view" >

            <table id="table-pagination" class="table table-striped" >
                <thead>

                <tr>
                    <th>Shipper Details</th>
                    <th>Schedule</th>
                    <th>Freight</th>
                    <th> Truck Info</th>
                    <th>Route</th>
                    <th>Cargo Details</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!--<div style="text-align: center"><img src="img/icon-no_pending_quote.png" style="height: 150px; width:150px;"  ></div>-->
                <tr>
                    <td>
                        <div class="row_define">
                            <div class="company_vendor">Tata Moters </div>
                            <div class="driver_number">9780289100</div>
                            <div class="star_rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </td>

                    <!--<td>-->
                    <!--<div class="row_define">-->
                    <!--<div class="dirver_pic"><img src="img/profile_pic.jpg"></div>-->
                    <!--<div class="dirver_name">Sumit Verma</div>-->
                    <!--</div>-->
                    <!--</td>-->

                    <td>
                        <div class="row_define">
                            <div class="dilivery_shdule">
                                <span class="time_est">
                <!--<i class="glyphicon glyphicon-map-marker"></i>-->
                                    <img src="img/icon_location.png" >
                                    <br>29th may<br>(4 PM- 8 PM)

                </span>
                    <span class="time_estm">

                <!--<i class="glyphicon glyphicon-map-marker"></i>-->
                         <img src="img/icon_location.png" >
                        <br>29th may<br>
                    (4 PM- 8 PM)
                </span>

                            </div>
                        </div>
                    </td>
                    <!--<td>-->
                    <!--<div class="row_define">-->
                    <!--<div class="final_cost">Rs 10,000</div>-->
                    <!--</div></td>-->

                    <td>
                        <div class="row_define"><div class="cargo_detail"> Budget Rs 10000</div>
                            <div class="cargo_detail"> Final Cost Rs 10000</div> </div>


                    </td>
                    <td>     <div class="row_define"><div class="truck_type"> Tata Ace 2 </div></div></td>
                    <td>     <div class="row_define"><div class="truck_type"> Chandigarh to Delhi </div></div></td>
                    <td>     <div class="row_define"><div class="view_details">Chemical 10 Ton </div></div> </td>
                    <td>     <div class="row_define">
                        <div class="view_details">
                            <a href="" ng-click="Quote();">Update</a>
                        </div>

                    </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="assign_driver" class="modal" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" > Select Driver </h4>
                <form class="navbar-form banner-search container" role="search" style="width:100%;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Driver" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body row table-striped" style="padding: 20px;">
               <div class="row" style="padding: 10px; " >
                   <div class="col-xs-2" >
                       <img src="img/profile_pic.jpg" style="width: 60px; height:60px; border-radius: 50px;"  >
                   </div>
                   <div class="col-xs-4" style="float: left; width:40%;">Sumit Verma <br> Driver ID 12312312 </div>
                   <div class="view_details" style="margin-left: 80%; margin-top: 2%;">
                       <a href="" >Select</a>
                   </div>
               </div>



                <div class="row" style="padding: 10px; " >
                    <div class="col-xs-2" >
                        <img src="img/profile_pic.jpg" style="width: 60px; height:60px; border-radius: 50px;"  >
                    </div>
                    <div class="col-xs-4" style="float: left; width:40%;">Amit Verma <br> Driver ID 12312312 </div>
                    <div class="view_details" style="margin-left: 80%; margin-top: 2%;">
                        <a href="" >Select</a>
                    </div>
                </div>



                <div class="row" style="padding: 10px; " >
                    <div class="col-xs-2" >
                        <img src="img/profile_pic.jpg" style="width: 60px; height:60px; border-radius: 50px;"  >
                    </div>
                    <div class="col-xs-4" style="float: left; width:40%;">Mudit Verma <br> Driver ID 12312312 </div>
                    <div class="view_details" style="margin-left: 80%; margin-top: 2%;">
                        <a href="" >Select</a>
                    </div>
                </div>
                <button id="next_otp" type="submit" ng-click="" data-dismiss="modal" style="width: 80%; margin-left: 10%;">Submit</button>
  <!-- =========================Use odd even of angular to give color to background ===================-->
            </div>

        </div>

    </div>


</div>