<div class="modal t-overflow " role="dialog" id="add_truck"  >
    <div class="modal-dialog"  ng-app="carrus" ng-controller="add_a_truck">

        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Add Truck</h4>



                <div class="modal-body" >
                    <input  class="full_width"  placeholder="Truck Number"     type="text" ng-model="trucker.truckNumber">
                    <input  class="full_width"  placeholder="Truck Nick Name"     type="text" ng-model="trucker.truckName">
                    <input  class="full_width"  placeholder="Driver Assigned"     type="text" ng-model="trucker.truckerIds">
                    <input  class="full_width"  placeholder="Contact Detail"     type="text" ng-model="trucker.address">


                    <!--<div class="half_width" style="position: relative;overflow: hidden;">-->



                    <div style="position: relative">
                        <input class="half_width" placeholder="Registration Certificate"    style="width: 100%;" type="text">
                        <div class="fileUpload files">
                            <input type="file" class="upload" name="rcDoc" onchange="angular.element(this).scope().uploadFile1(this.files,0)"
                                   accept="image/*"/>
                        </div>
                    </div>
                    <div style="position: relative; float: left; width: 100%; ">
                        <!--<div class="half_width" style="margin-right: 0;position: relative;overflow: hidden;">-->
                        <input  class="half_width " style="width: 100%;" placeholder="Fitness Certificate"    type="text" >
                        <div class="fileUpload files">
                            <input class="upload" type="file" name="fcDoc"
                                   onchange="angular.element(this).scope().uploadFile1(this.files,1)" accept="image/*"/>
                        </div>
                    </div>
                    <!--<div class="half_width" style="position: relative;overflow: hidden;">-->
                    <div style="position: relative; float: left;width: 100%; ">
                        <input  class="half_width "  placeholder="National Permit" style="width: 100%;"   type="text" >
                        <div class="fileUpload files">
                            <input type="file" class="upload"   name="npDoc" onchange="angular.element(this).scope().uploadFile1(this.files,2)" accept="image/*">
                        </div>
                    </div>
                    <!--<div class="half_width" style="margin-right: 0;position: relative;overflow: hidden;">-->
                    <div style="position: relative; float: left;width: 100%; ">
                        <input   class="half_width "  style="width: 100%;"  placeholder="Tax Token"    type="text" >
                        <div class="fileUpload files">
                            <input type="file" class="upload" name="ttDoc" onchange="angular.element(this).scope().uploadFile1(this.files,3)"  accept="image/*">
                        </div>
                    </div>

                    <input  class="full_width"  placeholder="Validity"     type="date" ng-model="trucker.rcValidity">
                    <input  class="full_width"  placeholder="Validity"     type="date" ng-model="trucker.fcValidity">
                    <input  class="full_width"  placeholder="Validity"     type="date" ng-model="trucker.npValidity">
                    <input  class="full_width"  placeholder="Validity"     type="date" ng-model="trucker.ttValidity">

                    <input  class="full_width"  placeholder="Model"     type="text" ng-model="trucker.model">
                    <input  class="full_width"  placeholder="Year of Manufacture"     type="text" ng-model="trucker.manufactureDate">
                    <input  class="full_width"  placeholder="Truck Make (OEM)"     type="text" ng-model="trucker.oem">
                    <div>
                        <span> Insurance</span> </div>
                    <input  class="full_width"  placeholder="Insurance Company"     type="text" ng-model="trucker.company">

                    <input  class="full_width"  placeholder="Policy"     type="text" ng-model="trucker.policy">
                    <input  class="full_width"  placeholder="Validity"     type="date" ng-model="trucker.validity">





                    <div class="btns_both">
                        <button id="" class="buttons " type="submit" ng-click="addTruck();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>