<div ng-app="carrus" ng-controller="truck_detail" >
    <div class="" style="background-image: url(img/small_strip.png); width:100% text-align:center; height:90px;" >
    </div>
    <div class="navbar-form banner-search container"  style="margin-left: 75%;">
        <div class="input-group">

            <div class="input-group-btn">
                <button class="btn btn-default" style="border-radius: 50px;" type="submit" ng-click="EditTruck();"><i class="glyphicon glyphicon-edit"></i> Edit </button>
            </div>
        </div>
    </div>
    <div class="container"  >
        <div class="row">
            <div class="col-lg-6">
                <div class="graph-container">
                    <div class="head-container"><span class="graphHead">Basic Info</span></div>
                    <div class="input-group" style="width: 100%" >  <label class="try2" > Truck Name </label>
                        <input type="text" class="fleet_home" ng-model="trucker.truck_name"   placeholder="Truck Name"></div>
                    <div class="input-group" style="width: 100%"> <label class="try2" > Truck Number</label>
                        <input type="text"  class="fleet_home"   placeholder="Truck Number" ng-model="trucker.truck_number" readonly=""></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Address</label>
                        <input type="text" class="fleet_home"  placeholder="Address" ng-model="trucker.address"></div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="graph-container">
                    <div class="head-container"><span class="graphHead">Truck Details</span></div>
                    <div class="input-group" style="width: 100%" >  <label class="try2" > Truck Model </label>
                        <input type="text"  class="fleet_home  "  placeholder="Company Name" ng-model="trucker.model" readonly="" ></div>
                    <div class="input-group" style="width: 100%"> <label class="try2" > Truck OEM</label>
                        <input type="text"  class="fleet_home"  placeholder="Number of Trucks" ng-model="trucker.oem" readonly="" ></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Type of Truck</label>
                        <input type="text"  class="fleet_home"   ng-model="trucker.typeTruck" readonly=""> </div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Manufacture Date</label>
                        <input type="text"  class="fleet_home"  placeholder="Manufacture Date" ng-model="trucker.manufacture_date" readonly=""> </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="graph-container">
                    <div class="head-container"><span class="graphHead">Documents</span></div>
                    <div class="input-group" style="width: 100%" >  <label class="try2" >Reg. Certificate </label>  <input type="text" class="fleet_home  " ng-value="" ng-model="trucker.rc_validity" placeholder="RC Validity"  >
                        <div class="fileUploadView files">
                            <input class="upload" type="file" name="panCard"
                                   onchange="angular.element(this).scope().uploadFile1(this.files,0)" accept="image/*"/>
                        </div>

                        <div class="fileView files">
                            <a class="file_view"  target="_blank" href="{{trucker.registrationCertificate}}"  name="pan" > </a>
                        </div>
                    </div>
                    <div></div>
                    <div class="input-group" style="width: 100%"> <label class="try2" >Fitness Certificate</label><input  class="fleet_home"  placeholder="RC Validity " ng-value="" ng-model="trucker.fc_validity" >
                        <div class="fileUploadView files">
                            <input class="upload" type="file" name="panCard"
                                   onchange="angular.element(this).scope().uploadFile1(this.files,1)" accept="image/*"/>
                        </div>
                        <div class="fileView files">
                            <a class="file_view"  target="_blank" href="{{trucker.fitnessCertificate}}"  name="pan" ></a>
                        </div>
                    </div>
                    <div class="input-group" style="width: 100%"><label class="try2" > National Permit</label><input  class="fleet_home" ng-value="" placeholder="NP Validity" ng-model="trucker.np_validity"  >
                        <div class="fileUploadView files">
                            <input class="upload" type="file" name="panCard"
                                   onchange="angular.element(this).scope().uploadFile1(this.files,2)" accept="image/*"/>
                        </div>
                        <div class="fileView files">
                            <a class="file_view"  target="_blank" href="{{trucker.notionalPermit}}"  name="pan" ></a>
                        </div>
                    </div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Tax Token</label><input  class="fleet_home" ng-value="" placeholder="TT Validity" ng-model="trucker.tt_validity">
                        <div class="fileUploadView files">
                            <input class="upload" type="file" name="panCard"
                                   onchange="angular.element(this).scope().uploadFile1(this.files,3)" accept="image/*"/>
                        </div>
                        <div class="fileView files">
                            <a class="file_view"  target="_blank" href="{{trucker.taxToken}}"  name="pan" ></a>
                        </div>
                    </div>
                    <!--<canvas id="barFuture" data="futureBooking" labels="labelBookings" legend="true" class="chart chart-bar" series="seriesFuture" colours ="coloursBook"></canvas>-->
                </div>

            </div>

            <div class="col-lg-6">
                <div class="graph-container">
                    <div class="head-container"><span class="graphHead">Assigned Trucker Details</span></div>

                    <div class="input-group" style="width: 100%"><label class="try2" > Driver Name</label>
                        <div  class="fleet_home"  placeholder="Mobile Number">{{trucker.truckerName}}</div></div>
                    <!--<canvas id="barStaff" data="staffBooking" labels="labelBookings" legend="true" class="chart chart-bar" series="seriesStaff" colours ="coloursBook"></canvas>-->
                    <div class="input-group" style="width: 100%"><label class="try2" > Driver ID</label>
                        <div  class="fleet_home"  placeholder="Mobile Number">{{trucker.truckerId}}</div></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Address</label>
                        <div  class="fleet_home"  placeholder="Mobile Number">{{trucker.truckerAddress}}</div></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Phone Number</label>
                        <div  class="fleet_home"  placeholder="Mobile Number">{{trucker.truckerMobile}}</div></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="graph-container">
                    <div class="head-container"><span class="graphHead">Insurance Details</span></div>
                    <div class="input-group" style="width: 100%"><label class="try2" >Company </label>
                        <input  class="fleet_home" ng-model="trucker.insurance_company" ></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Policy</label>
                        <input  class="fleet_home" ng-model="trucker.insurance_policy" ng-value="" ></div>
                    <div class="input-group" style="width: 100%"><label class="try2" > Validity</label>
                        <input  class="fleet_home"ng-model="trucker.insurance_validity" ></div>


                    <!--<canvas id="barCustomer" data="customerBooking" labels="labelCustomer" legend="true" class="chart chart-bar" series="seriesCustomer" colours ="coloursBook"></canvas>-->
                </div>

            </div>
            <!--<div class="col-lg-6">-->
                <!--<div class="graph-container">-->
                    <!--<div class="head-container"><span class="graphHead">Cargo Detail</span></div>-->
                    <!--<div class="input-group" style="width: 100%"><label class="try2" > Type of Cargo Handled</label><input  class="fleet_home"  placeholder="Mobile Number"     type="number"></div>-->
                    <!--&lt;!&ndash;<canvas id="barStaff" data="staffBooking" labels="labelBookings" legend="true" class="chart chart-bar" series="seriesStaff" colours ="coloursBook"></canvas>&ndash;&gt;-->
                <!--</div>-->

            <!--</div>-->
        </div>



    </div>

</div>
