<div id="test" class="full-width">
    <div class="build" style="float: left; width: 100%;">
        <div class="dild">
            <div class="overlayed">
                <div class="jig contactUs">
                    <div style="margin-bottom: 80px;min-height:700px;width: 80%;margin:auto;">
                        <div class="tab-head">
                            <h1 class="text-center" style="color:white;">Contact Us</h1>

                            <div class="hr-div">
                                <hr class="h-bar">
                            </div>

                        </div>

                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                            <div style="margin-top:10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <form  id="contact-us" >
                                    <div ng-show="authMsg" class="alert-success success text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">{{authMsg}}</div>
                                    <div ng-show="authErrorMssg" class="alert-danger danger text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">{{authErrorMssg}}</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="removeAuth()">
                                        <input type="text" style="color: #b1b1b1;font-size: 20px;" placeholder="Name" class="form-control" ng-model="ds.fullName" onkeypress="return isText(event)" >
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="removeAuth()">
                                        <input style="color: #b1b1b1;font-size: 20px;" type="text" placeholder="Email" class="form-control" ng-model="ds.email" ng-blur="ValidateEmail(this)">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="removeAuth()">
                                        <input type="text" style="color: #b1b1b1;font-size: 20px;" placeholder="Phone Number" class="form-control" ng-model="ds.phoneNumber" onkeypress="isNumberKey(event)" ng-blur="lengthCheck(ds.phoneNumber)" minlength="0" maxlength="10">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="removeAuth()">
                                        <textarea placeholder="Comments" style="color: #b1b1b1;font-size: 20px;" class="form-control" ng-model="ds.comment"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                        <button style="width: 100%;padding:15px 12px;font-size: 20px;border-radius:0px;" type="button" class="btn btn-primary btn-p" ng-click="Contact() ">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 con">
                            <div class="map-point" style="padding-top: 280px;">
                                <div style="" class="marg-auto">
                                  <span class="mg1" style="">

                                  <span style="position: relative;">
                                    <img src="img/location.png" class="delhi">
                                  <span class="pt-delhi" style="width:200px;height:100px;top:-103px;">
                                    <span style="position: relative; float: left; width: 100%; margin-top: 6px;">
                                    <span style="width: 100%; font-size: 15px; color: rgb(66, 139, 202); float: left; padding-left: 10px;">New Delhi<br>C856 LGF,
                                        Defence Colony,
                                        New Delhi 110024</span>
                                    <span style="width: 100%; padding-left: 10px; font-size: 15px; color:gray;">India</span>
                                    <span style="position: absolute; transform: rotate(270deg); left: -9px; bottom: -13%;"
                                          class="caret locate-point"></span>
                                    </span>
                                  </span>
                                </span>
                                </span>
                                <span class="mg2" style="">
                                <span style="position: relative;">
                                    <img src="img/location.png" class="kolkata">
                                  <span class="pt-kolkata"
                                        style="width:200px;height:100px;top:-103px;left:20px;">
                                    <span style="position: relative; float: left; width: 100%; margin-top: 6px;">
                                    <span style="width: 100%; font-size: 15px; color: rgb(66, 139, 202); float: left; padding-left: 10px;">Kolkata <br>22 Canning Street,
3rd Floor,
Kolkata 700001</span>
                                      <span style="width: 100%; padding-left: 10px; font-size: 15px; color: gray;">India</span>
                                    <span style="position: absolute; transform: rotate(270deg); left: -9px; bottom: -13%;"
                                          class="caret locate-point"></span>
                                  </span>
                                  </span>
                                </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>