
<!-- post details modal -->

<div class="modal fade" tabindex="-1" id="postDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid" style="padding-bottom: 4%">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="page-header">
                            <h2>Posts Details</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">
                        <div class="row-center-column-center" style="height: 140px;width:140px;" ng-style="colorModel[postDetailsIndex%4]"><h3><span style="color: #FFFFFF">{{model[postDetailsIndex].courseCode}}</span></h3></div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <h3 style="margin-top: 0" class="text-capitalize" ><span style="color: #999999">Course Name : </span>{{model[postDetailsIndex].courseTitle}}</h3>
                        <h4  class="hidden-sm hidden-md hidden-lg text-capitalize" style="padding-top: 2%"><span style="color: #999999">Course Code : </span>{{model[postDetailsIndex].courseCode}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Request Type : </span>{{model[postDetailsIndex].requestType}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Session Type : </span>{{model[postDetailsIndex].sessionType}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Status : </span>{{model[postDetailsIndex].status}}</h4>
                        <h4  style="padding-top: 2%"><span style="color: #999999">Request Description : </span>{{model[postDetailsIndex].desc}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Number Of Students : </span>{{model[postDetailsIndex].noOfStudents}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Number Of Interests : </span>{{model[postDetailsIndex].noOfInterests}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"  ng-hide="model[postDetailsIndex].requestType=='general' && model[postDetailsIndex].noOfInterests==0"><span style="color: #999999">Tutors : </span> <span style="display:inline-block;height: 24px;background-color: #F0F0F0;padding: 0 2%;margin:0 2%;border-radius: 14px;font-family: Avenir-Light" ng-repeat="tutor in postDetailsTutors"><img ng-src="{{tutor.profilePictureThumb}}" style="height: inherit;width:inherit" class="img-circle"> {{tutor.firstName}} {{tutor.lastName}} <span ng-hide="model[postDetailsIndex].requestType=='personal' && model[postDetailsIndex].status=='pending'" class="link" ng-click="removeTutor($index)">X</span></span></h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Location : </span>{{model[postDetailsIndex].location}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Fee Range : </span></h4>
                        <ionslider min="$parent.sliderRange[0]" max="$parent.sliderRange[1]" from="model[postDetailsIndex].feeLower" to="model[postDetailsIndex].feeUpper" type="'double'" from-fixed="true" to-fixed="true" prefix="$"></ionslider>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Scheduled Time : </span>{{model[postDetailsIndex].startTime | date : "d MMM,yyyy h:mm a"}}</h4>
                        <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Duration : </span>{{model[postDetailsIndex].duration}}</h4>
                    </div>
                </div>
                <div class="row" ng-show="errorInModal" >
                    <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
                        <div class="alert alert-danger">
                            <a ng-click="errorInModal=false" class="close"  aria-label="close" title="close">×</a>
                            <strong>Error!</strong> {{errorMsg}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-6 col-md-offset-4 col-md-6 col-lg-offset-4 col-lg-6">
                        <button type="button" class="btn btn-lg btn-block btn-tuli"  ng-click="scheduleSession();">Schedule Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- main container -->

<div class="container" style="padding: 100px 0;">

    <!-- Error and success  alerts -->
    <div class="row slide-in-right" ng-show="loaded && error" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger">
                <a ng-click="error=false" class="close" aria-label="close" title="close">×</a>
                <strong>Error!</strong> {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="row slide-in-right" ng-show="loaded && success">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="alert alert-success">
               <a ng-click="success=false" class="close" aria-label="close" title="close">×</a>
               <strong>Success!</strong> {{successMsg}}
            </div>
        </div>
    </div>

    <!-- main content -->

    <div class="row slide-in-right" ng-show="loaded && !error">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h2  style="padding-left: 2%">My Posts</h2>
            </div>
        </div>
    </div>

    <div class="row slide-in-up" ng-show="loaded && !error">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="mod in model">
            <div class="row link list-box" style="margin: 3% 0; padding: 2% 2%"  ng-click="showPostDetails($index)">
                <div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
                    <div class="row-center-column-center" style="height: 140px;width:140px;" ng-style="colorModel[$index%4]"><h3><span style="color: #FFFFFF">{{mod.courseCode}}</span></h3></div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <h3 style="margin-top: 0;font-family: Avenir-Medium">{{mod.courseTitle}}</h3>
                    <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Request Type : </span>{{mod.requestType}}</h4>
                    <h4  class="hidden-xs" style="padding-top: 2%"><span style="color: #999999">Request Description : </span>{{mod.desc}}</h4>
                    <h4  class="text-capitalize hidden-xs" style="padding-top: 2%"><span style="color: #999999">Number Of Students : </span>{{mod.noOfStudents}}</h4>
                    <h4  class="text-capitalize hidden-xs" style="padding-top: 2%"><span style="color: #999999">Number Of Interests : </span>{{mod.noOfInterests}}</h4>
                    <h4  class="text-capitalize hidden-xs" style="padding-top: 2%" ng-hide="mod.requestType=='general' && mod.noOfInterests==0"><span style="color: #999999">Tutors : </span> <span style="display:inline-block;height: 24px;background-color: #F0F0F0;padding: 0 2%;margin:0 2%;border-radius: 14px;font-family: Avenir-Light" ng-repeat="tutor in mod.tutors"><img ng-src="{{tutor.profilePictureThumb}}" style="height: inherit;width:inherit" class="img-circle"> {{tutor.firstName}} {{tutor.lastName}}</span></h4>
                </div>
                <div class="col-xs-12 col-sm-offset-4  col-sm-8 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4">
                    <h4 style="margin-top: 0"  class="text-capitalize"><span style="color: #999999">Posted On : </span>{{mod.postedTime | date : "d MMM,yyyy h:mm a"}}</h4>
                    <h4  class="text-capitalize" style="padding-top: 2%"><span style="color: #999999">Status : </span>{{mod.status}}</h4>
                    <h4  class="text-capitalize hidden-xs" style="padding-top: 2%"><span style="color: #999999">Scheduled Time : </span>{{mod.startTime | date : "d MMM,yyyy h:mm a"}}</h4>
                    <h4  class="text-capitalize hidden-xs" style="padding-top: 2%"><span style="color: #999999">Duration : </span>{{mod.duration}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>