<div class="ngdialog-message"   >
    <h3>Forgot Password</h3>

    <form method="post" validate-form="" novalidate=""  id="add-service">
        <div class="panel panel-default">

            <!--<div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>-->
            <!--<div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>-->
            <div class="panel-body" style="overflow: inherit;">
                <div class="form-group">
                    <p> Please enter your Email- ID</p>
                    <p>We will send you instructions</p>
                    <p> to reset your password</p>
                    <label class="control-label">Email ID</label>

                    <div class="clearfix">
                        <div class="col-sm-6 padding_left">
                            <input type="email" name="team_name" required="required" class="form-control"
                                   ng-model="editArtist.first_name" placeholder="E-Mail"/></div>

                    </div>

                    <input type="hidden" ng-model="editArtist.tech_id">
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                    </button>
                </div>
            </div>
    </form>
</div>
